.output-card{
    background:#fff;
    margin-top: 20px;
    border:1px solid var(--stroke);
    border-radius:var(--radius);
    box-shadow:var(--shadow);
    padding-inline:22px clamp(16px,3vw,28px);
    height: 400px;
}